@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketData</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/css/custom-css.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <style>
        #blocker {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
            background-color: #000;
            z-index: 1000;
            overflow: auto;
        }

            #blocker div {
                position: absolute;
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                border-top: 16px solid #3498db;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }

        /* Safari */
        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div id="blocker">
        <div></div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Market Data</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">


                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @{
                            if (HttpContextAccessor.HttpContext.Session.GetString("userDetail") != null)
                            {
                                var userPermission = JsonSerializer.Deserialize<MarketData.Model.Response.User.GetUserDetailResponse>(HttpContextAccessor.HttpContext.Session.GetString("userDetail"));

                                if (userPermission.editMaster || userPermission.viewMaster)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="MasterData">Master Data</a>
                                    </li>
                                }

                                if (userPermission.editUser)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-controller="Users" asp-action="Index">User</a>
                                    </li>
                                }

                                if (userPermission.viewReport)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Reports">Report</a>
                                    </li>
                                }

                                if (userPermission.keyInData || userPermission.approveData)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="KeyIn">Key-In</a>
                                    </li>
                                }

                                if (userPermission.approveData || userPermission.viewData)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Approve" asp-action="Index">Approve</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Adjust" asp-action="Index">Adjust</a>
                                    </li>
                                }
                            }
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @{
                            if (HttpContextAccessor.HttpContext.Session.GetString("userDetail") != null)
                            {
                                var userPermission = JsonSerializer.Deserialize<MarketData.Model.Response.User.GetUserDetailResponse>(HttpContextAccessor.HttpContext.Session.GetString("userDetail"));

                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="ManualChangePassword">Change Password</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white">User : @userPermission.displayName | </a>
                                </li>
                            }
                        }


                        <li>
                            @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { @class = "ui large form" }))
                            {
                                <a asp-controller="Home" asp-action="Logout" class="btn btn-light text-danger">
                                    Logout   <span class="ion-android-exit"></span>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="container" class="container" style="font-size:12px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    @RenderSection("Scripts", required: false)
</body>
</html>

