                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              <!DOCTYPE html>

    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <style>
        body {
            font-family: 'Varela Round', sans-serif;
        }

        #successModal .modal-confirm {
            color: #636363;
            width: 325px;
            font-size: 14px;
        }

            #successModal .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
            }

            #successModal .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            #successModal .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -15px;
            }

            #successModal .modal-confirm .form-control, #successModal .modal-confirm .btn {
                min-height: 40px;
                border-radius: 3px;
            }

            #successModal .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -5px;
            }

            #successModal .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
            }

            #successModal .modal-confirm .icon-box {
                color: #fff;
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -70px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #82ce34;
                padding: 15px;
                text-align: center;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }

                #successModal .modal-confirm .icon-box i {
                    font-size: 58px;
                    position: relative;
                    top: -8px;
                }

            #successModal .modal-confirm.modal-dialog {
                margin-top: 80px;
            }

            #successModal .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #82ce34;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border: none;
            }

                #successModal .modal-confirm .btn:hover, .modal-confirm .btn:focus {
                    background: #6fb32b;
                    outline: none;
                }

        #successModal .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>


<!-- Modal HTML -->
<div id="successModal"  class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
                    <i class="ion-checkmark text-white"></i>
				</div>				
				<h4 class="modal-title w-100">Success!</h4>	
			</div>
			<div class="modal-body">
                <p class="text-center">Data has been saved successfully.</p>
			</div>
            <div class="modal-footer">
                <a id="successModalHref" href="#" class="btn btn-success btn-block btnSuccessModal" style="padding-top: 12px;">OK</a>
            </div>
		</div>
	</div>
</div>    