.table-filter .filter-group {
    float: left;
    margin-left: 15px;
}

.table-filter input, .table-filter select {
    /*height: 34px;*/
    border-radius: 3px;
    border-color: #ddd;
    box-shadow: none;
}

.table-filter {
    padding: 5px 0 15px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
}

 /*   .table-filter .btn {
        height: 34px;
    }
*/
    .table-filter label {
        font-weight: normal;
        margin-left: 10px;
    }

    .table-filter select, .table-filter input[type="text"] {
        display: inline-block;
        margin-left: 5px;
    }

    .table-filter input[type="text"] {
        width: 200px;
        display: inline-block;
    }

.filter-group select.form-control {
    width: 110px;
}
.btn-profile {
    width: 10rem;
    height: 5rem;
    margin: 20px;
}

.parentDivClass {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
.textbox-color {
    width:100%;
    height:35px;
}
#profile .nav {
    justify-content: center;
}

#profile .nav ul {
    padding: 0;
    list-style-type: none;
}

#profile .nav .li {
    width: 15rem;
    height: 4rem;
    font-size: 15px;
    text-align: center;
    line-height: 4rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    margin: 3rem;
}

    #profile .nav .li::before,
    #profile .nav .li::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        transition: 0.3s;
    }

    #profile .nav .li::before {
        background-color: white;
        z-index: -1;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    #profile .nav .li::after {
        background-color: goldenrod;
        transform: translate(1.5rem, 1.5rem);
        z-index: -2;
    }

    #profile .nav .li:hover {
        transform: translate(1.5rem, 1.5rem);
        color: white;
    }

        #profile .nav .li:hover::before {
            background-color: goldenrod;
        }

        #profile .nav .li:hover::after {
            background-color: white;
            transform: translate(-1.5rem, -1.5rem);
        }


.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload .custom-file-upload1 {
    height: 34px;
    padding: 6px 12px;
    cursor: pointer;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

#reports .nav {
    justify-content: center;
}
#reports .nav ul {
    padding: 0;
    list-style-type: none;
    
}

#reports .nav .li {
    width: 22rem;
    height: 4rem;
    font-size: 15px;
    text-align: center;
    line-height: 4rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    margin: 2.5rem;
}

    #reports .nav .li::before,
    #reports .nav .li::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        transition: 0.3s;
    }

    #reports .nav .li::before {
        background-color: white;
        z-index: -1;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    #reports .nav .li::after {
        background-color: goldenrod;
        transform: translate(1.5rem, 1.5rem);
        z-index: -2;
    }

    #reports .nav .li:hover {
        transform: translate(1.5rem, 1.5rem);
        color: white;
    }

        #reports .nav .li:hover::before {
            background-color: goldenrod;
        }

        #reports .nav .li:hover::after {
            background-color: white;
            transform: translate(-1.5rem, -1.5rem);
        }
