
@{
    ViewData["Title"] = "Activate Success";
    Layout = null;
}


<br />
<div style="text-align:center;padding-top:200px;">
    <h1 style="color: #ff0000;">ACTIVATE SUCCUESS</h1>
    <p>ยินยันอีเมลล์สำเร็จ ระบบได้รับข้อมูลเรียบร้อยแล้ว</p>
    <p>&nbsp;</p>
    <a asp-controller="Home" asp-action="Login"><span style="background-color: #ff0000; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Log in</span></a>

</div>