@{
       Layout = null;
}

<div style="text-align:center;padding-top:200px;">
    <h1 style="color: #ff0000;">URL UNAVAILAVLE</h1>
    <p>ลิ้งค์นี้ไม่สามารถใช้งานได้ กรุณาติดต่อผู้ดูแลระบบ</p>
    <p>&nbsp;</p>
</div>