@{
    ViewData["Title"] = "Brand Group";
    Html.RenderPartial("_ConfirmModal");
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<h3>
    @ViewData["Title"]
    <a href="BrandGroup_Edit" class="add-click"><i class="ion-ios-plus text-danger"></i></a>

</h3>

<hr />
<div style="padding-bottom:10px;">
    <div class="row">
        <div class="col text-end d-flex justify-content-end align-items-center">
            <label class="form-label">IS LOREAL: </label>
            <select class="form-control isloreal-dropdown" style="margin-right: 10px; width:70px!important">
                <option value="">All</option>
                <option value=true>Y</option>
                <option value="false">N</option>
            </select>
            <label class="form-label">Active: </label>
            <select class="form-control status-dropdown" style="margin-right: 10px; width:70px!important">
                <option value="">All</option>
                <option value=true>Y</option>
                <option value="false">N</option>
            </select>
        </div>
    </div>

</div>
<div class="container-xl">
    <table id="tableData" class="display" width="100%"></table>
</div>


<script type="text/javascript">


    $(document).ready(function () {
        $("#tableData").one("preInit.dt", function () {
            $button = $('<button class="btn btn-primary btn-sm btnReresh" type="button" style="width: 100px!important;margin-top: -5px;margin-left: 5px;"><i class="ion-refresh text-white"></i> Refresh</button>');
            $("#tableData_filter label").append($button);
            $button.button();

        });

        var dataTable=  $('#tableData').DataTable({
            "ajax": {
                type: "POST",
                url: '@Url.Action("GetBrandGroupList", "MasterData")',
                contentType: "application/json; charset=utf-8",
                dataSrc: function (result) {
                    return result.data;
                }
            },
            "columns": [
                { data: "brandGroupID", visible: false, searchable: false },
                { data: "brandGroupName", title: "Brand Group Name", width: "70%" },
                { data: "isLoreal", title: "isLoreal", visible: false },
                { data: "active", title: "active", visible: false },
                {
                    data: "isLoreal",
                    title: "IS LOREAL",
                    render: function (data, type, row) {
                        var checkStatus = data ? "checked" : "";
                        return '<input type="checkbox" id="checkbox2" name="options[]" value="true" disabled ' + checkStatus + '>';
                    }, width: "10%",
                    className: "text-center",
                    visible: true,
                    searchable: true,
                    orderable: false,
                },
                {
                    data: "active",
                    title: "Active",
                    render: function (data, type, row) {
                        var checkStatus = data ? "checked" : "";
                        return '<input type="checkbox" id="checkbox1" name="options[]" value="true" disabled ' + checkStatus + '>';
                    }, width: "10%",
                    className: "text-center",
                    visible: true,
                    searchable: true,
                    orderable: false,
                },
                {
                    orderable: false,
                    title: "Action",
                    width: "20%",
                    className: "text-center",
                    render: function (data, type, row) {
                        return '<a href="BrandGroup_View?brandGroupID=' + row.brandGroupID + '" class="buttonIcon btn btn-primary btn-sm"><i class="ion-eye text-white" ></i></a>' +
                            '<a href="BrandGroup_Edit?brandGroupID=' + row.brandGroupID + '" class="buttonIcon btn btn-warning btn-sm"><i class="ion-edit text-white"></i></a>';
                            /*'<a href="#confirmModal" data-id="' + row.brandSegmentID +'" class="delete-click buttonIcon btn btn-danger btn-sm" data-toggle="modal"><i class="ion-android-delete text-white"></i></a>';*/
                }}
            ]
        });

      
        $('.btnReresh').on('click', function (e) {
            dataTable.ajax.reload();
        });

        $('.status-dropdown').on('change', function (e) {
            var status = $(this).val();
            $('.status-dropdown').val(status);
            dataTable.column(3).search(status).draw();
        });

        $('.isloreal-dropdown').on('change', function (e) {
            var status = $(this).val();
            $('.isloreal-dropdown').val(status);
            dataTable.column(2).search(status).draw();
        });


    });



</script>