@model MarketData.Models.BrandTypeViewModel

@{
    ViewData["Title"] = "Add Brand Type";
}


<h3>@ViewData["Title"]</h3>
<hr />

<br />

<form>
    <div class="col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Brand Type Name	</label>
            <input type="text" value="@Model.brandTypeName" class="form-control input-sm" id="typename" placeholder="">
        </div>
    </div>
    <div class="col-md-12 col-sm-12">

        <div class="form-group col-md-5 col-sm-5">
            <label for="pincode">
                <input value="" id="flagactive" type="checkbox" checked data-toggle="toggle">
                Active
            </label>
        </div>
    </div>

    <div class="modal-footer">
        @*<button class="btn btn-danger" type="submit">Save</button>*@
        <a href="BrandType" id="save" class="btn btn-danger">Save</a>
        <a href="BrandType" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        $("#save").click(function () {
            var model = @Html.Raw(Json.Serialize(Model));

             var frmdata = {
                 brandTypeID: model.brandTypeID,
                 brandTypeName: $('#typename').val(),
                 active: $("#flagactive").prop("checked")
             };

            console.log(frmdata, 'frmdata');

            $.ajax({
                 type: "POST",
                 url: '@Url.Action("SaveBrandType", "MasterData")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(frmdata),
                datatype: "json",
                success: function (data) {

                },
                error: function () {
                }
            });
        });

 });
</script>
