@model MarketData.Models.BrandTypeViewModel

@{
    ViewData["Title"] = Model.brandTypeName == null ? "Add Brand Type" : "Edit Brand Type";
    Html.RenderPartial("_SuccessModal");
    Html.RenderPartial("_FailedModal");
}


<h3>@ViewData["Title"]</h3>
<hr />

<br />

<form>
    <div class="col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Brand Type Name</label><label style="font-size:14px;color:red">*</label>
            <input type="text" value="@Model.brandTypeName" class="form-control input-sm" id="typename" placeholder="">
        </div>
    </div>
    <div class="col-md-12 col-sm-12">

        <div class="form-group col-md-5 col-sm-5">
            <label>
                @if (Model.active)
                {
                    <input value="" id="flagactive" checked type="checkbox" data-toggle="toggle">
                }
                else
                {
                    <input value="" id="flagactive" type="checkbox" data-toggle="toggle">
                }

                Active
            </label>
        </div>
    </div>

    <div class="modal-footer">
        <button id="save" class="btn btn-danger " type="button">Save</button>
        <a href="BrandType" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        $("#save").click(function () {
            $("#blocker").show();
            var model = @Html.Raw(Json.Serialize(Model));

             var frmdata = {
                 brandTypeID: model.brandTypeID,
                 brandTypeName: $('#typename').val(),
                 active: $("#flagactive").prop("checked")
             };


            $.ajax({
                 type: "POST",
                 url: '@Url.Action("SaveBrandType", "MasterData")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(frmdata),
                datatype: "json",
                success: function (data) {
                    $("#blocker").hide();
                    if (data.isSuccess) {
                        $('#successModalHref').attr("href", "BrandType");
                        $('#successModal').modal('show');
                    } else if (data.isDuplicated) {
                        $('#failedModal').modal('show');
                        $('#myModalFailedResult').text('Duplicate data!');
                    } else {
                        $('#failedModal').modal('show');
                        $('#myModalFailedResult').text(data.responseError != "" && data.responseError != null ? data.responseError : 'Save data failed');
                     }
                    $('#confirmID').val('');
                    $('#myModalFailedResult').val('');
                },
                error: function () {
                    $("#blocker").hide();
                }
            });
        });

 });
</script>
