@model MarketData.Models.BrandTypeViewModel

@{
    ViewData["Title"] = "Add Brand Type";
}


<h3>@ViewData["Title"]</h3>
<hr />

<br />

<form asp-action="SaveBrandType">
    <div class="col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <input hidden asp-for="brandTypeID" class="form-control input-sm" />
            <label asp-for="brandTypeName">Brand Type Name</label>
            <input asp-for="brandTypeName" class="form-control input-sm" />
            @*<label for="name">Brand Type Name	</label>
        <input type="text" value="@Model.brandTypeName" class="form-control input-sm" id="name" placeholder="">*@
        </div>
    </div>
    <div class="col-md-12 col-sm-12">

        <div class="form-group col-md-5 col-sm-5">
            <label>
                <input asp-for="active" type="checkbox">Active
            </label>
            @*<label for="pincode">
                <input value="@Model.active" type="checkbox" checked data-toggle="toggle">
                Active
            </label>*@
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" type="submit">Save</button>
        @*<a href="BrandType" class="btn btn-danger">Save</a>*@
        <a href="BrandType" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>