@{
    ViewData["Title"] = "Brand Type";
    Html.RenderPartial("_ConfirmModal");
}


<h3>

    @ViewData["Title"]
    <a href="BrandType_Edit" class="add-click"><i class="ion-ios-plus text-danger"></i></a>

</h3>


<hr />
<div style="padding-bottom:10px;">
    <div class="row">
        <div class="col text-end d-flex justify-content-end align-items-center">
            <label class="form-label">Active :&nbsp;</label>
            <select class="form-control status-dropdown" style="width:70px!important">
                <option value="">All</option>
                <option value=true>Y</option>
                <option value="false">N</option>
            </select>
        </div>
    </div>

</div>
<div class="container-xl">


    <table id="tableData" class="display" width="100%"></table>


</div>


<script type="text/javascript">


    $(document).ready(function () {
        $("#tableData").one("preInit.dt", function () {

            $button = $('<button class="btn btn-primary btn-sm btnReresh" type="button" style="width: 100px!important;margin-top: -5px;margin-left: 5px;"><i class="ion-refresh text-white"></i> Refresh</button>');
            $("#tableData_filter label").append($button);
            $button.button();

        });
        var dataTable = $('#tableData').DataTable({
            "ajax": {
                type: "POST",
                url: '@Url.Action("GetBrandTypeList", "MasterData")',
                contentType: "application/json; charset=utf-8",
                dataSrc: function (result) {
                    return result.brandTypeList;
                }
            },
            "columns": [
                { data: "brandTypeID", visible: false, searchable: false },
                { data: "brandTypeName", title: "Brand Type Name", width: "70%" },
                { data: "active", title: "active", visible: false },
                {
                    data: "active",
                    title: "Active",
                    render: function (data, type, row) {
                        var checkStatus = data ? "checked" : "";
                        return '<input type="checkbox" disabled ' + checkStatus + '>';
                    }, width: "10%",
                    className: "text-center",
                    visible: true,
                    searchable: true,
                    orderable: false,
                },
                { data: "createdDate", visible: false, searchable: false },
                {
                    orderable: false,
                    title: "Action",
                    width: "20%",
                    className: "text-center",
                    render: function (data, type, row) {
                        return '<a href="BrandType_Edit_View?brandTypeID=' + row.brandTypeID + '" class="buttonIcon btn btn-primary btn-sm"><i class="ion-eye text-white" ></i></a>' +
                            '<a href="BrandType_Edit?brandTypeID=' + row.brandTypeID + '" class="buttonIcon btn btn-warning btn-sm"><i class="ion-edit text-white"></i></a>';
                }}
            ]
        });

        $('.btnReresh').on('click', function (e) {
            $("#blocker").show();
            dataTable.ajax.reload();
            setTimeout(function () {
                $("#blocker").hide();
            }, 500);
        });

        $('.status-dropdown').on('change', function (e) {
            var status = $(this).val();
            $('.status-dropdown').val(status);
            dataTable.column(2).search(status).draw();
        });


    });



</script>
