@{
    ViewData["Title"] = "Add Counter";
}


<h2>@ViewData["Title"]</h2>
<hr />

<br />

<form>
    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Department Store</label>
            <select class="form-control">
                <option>Please select</option>
            </select>
        </div>

    </div>
    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Brand</label>
            <select class="form-control">
                <option>Please select</option>
            </select>
        </div>

    </div>
    <div class="row col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Distribution Channels</label>
            <select class="form-control">
                <option>Please select</option>
            </select>
        </div>

    </div>

    <div class="modal-footer">
        <a href="Counter" class="btn btn-danger">Add</a>
        <a href="Counter" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>