@{
    ViewData["Title"] = "Department Store";
}


<h3>
    @ViewData["Title"]
    <a href="DepartmentStore_Edit" class="add-click"><i class="ion-ios-plus text-danger"></i></a>

</h3>
<hr />
<br />
<br />
<div class="row">
    <div class="table-filter" style="width: 100%; font-size: 13px;">
        <div class="row">

            <div class="col-sm-10">

                <div class="filter-group">
                    <label>Keyword(s) : </label>
                    <input type="text" class="form-control">
                </div>

                <div class="filter-group">
                    <label>Active</label>
                    <select class="form-control">
                        <option>All</option>
                        <option>Y</option>
                        <option>N</option>
                    </select>
                </div>
                <div class="filter-group">
                    <button type="button" class="btn btn-outline-primary"><i class="ion-search"></i></button>
                </div>
            </div>
            <form id="uploadFile" action="@Url.Action("ImportDepartmentStore", "MasterData")" method="post" enctype="multipart/form-data">
                <div class="filter-group">
                    <div class="custom-file-upload">

                        <label for="file-upload" class="custom-file-upload1">
                            <i class="ion-android-document"></i> Import by Excel
                        </label>
                        <input type="text" id="userID" name="userID" value="DDD" hidden />
                        <input id="file-upload" type="file" name="excelFile" />
                        <input type="submit" id="btnSubmit" value="Import" hidden />
                    </div>
                </div>
            </form>
         
        </div>
    </div>
</div>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">

            <table class="table table-striped table-hover ">
                <thead class="table-secondary">
                    <tr class="row m-0">

                        <th class="col-3">Department Store Name</th>
                        <th class="col-2">Retailer group</th>
                        <th class="col-2">Distribution Channels </th>
                        <th class="col-1 text-center">Region</th>
                        <th class="col-1 text-center">Rank</th>
                        <th class="col-1 text-center">Active</th>
                        <th class="col-2 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="row m-0">
                        <td class="col-3">
                            Central Bangna
                        </td>
                        <td class="col-2">Central</td>
                        <td class="col-2">Counter</td>
                        <td class="col-1 text-center">Bangkok</td>
                        <td class="col-1 text-center">7</td>
                        <td class="col-1 text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1" disabled checked>
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="col-2 text-center">
                            <a href="DepartmentStore_Edit" class="btn btn-primary col-sm-12 col-md-3 btn-sm">
                                <i class="ion-eye text-white"></i>
                            </a>
                            <a href="DepartmentStore_Edit" class="btn btn-warning col-sm-12 col-md-3 btn-sm">
                                <i class="ion-edit text-white"></i>
                            </a>
                            <a href="#deleteModal" class="btn btn-danger col-sm-12 col-md-3 btn-sm" data-toggle="modal">
                                <i class="ion-android-delete text-white"></i>
                            </a>

                        </td>
                    </tr>
                    <tr class="row m-0">
                        <td class="col-3">The Mall Bangkae</td>
                        <td class="col-2">The Mall</td>
                        <td class="col-2">Counter</td>
                        <td class="col-1 text-center">Bangkok</td>
                        <td class="col-1 text-center">5</td>
                        <td class="col-1 text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1" disabled checked>
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="col-2 text-center">
                            <a href="DepartmentStore_Edit" class="btn btn-primary col-sm-12 col-md-3 btn-sm">
                                <i class="ion-eye text-white"></i>
                            </a>
                            <a href="DepartmentStore_Edit" class="btn btn-warning col-sm-12 col-md-3 btn-sm">
                                <i class="ion-edit text-white"></i>
                            </a>
                            <a href="#deleteModal" class="btn btn-danger col-sm-12 col-md-3 btn-sm" data-toggle="modal">
                                <i class="ion-android-delete text-white"></i>
                            </a>

                        </td>
                    </tr>
                    <tr class="row m-0">
                        <td class="col-3">Robinson Bangrak</td>
                        <td class="col-2">Robinson</td>
                        <td class="col-2">Botique</td>
                        <td class="col-1 text-center">Bangkok</td>
                        <td class="col-1 text-center"></td>
                        <td class="col-1 text-center">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1" disabled checked>
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td class="col-2 text-center">
                            <a href="DepartmentStore_Edit" class="btn btn-primary col-sm-12 col-md-3 btn-sm">
                                <i class="ion-eye text-white"></i>
                            </a>
                            <a href="DepartmentStore_Edit" class="btn btn-warning col-sm-12 col-md-3 btn-sm">
                                <i class="ion-edit text-white"></i>
                            </a>
                            <a href="#deleteModal" class="btn btn-danger col-sm-12 col-md-3 btn-sm" data-toggle="modal">
                                <i class="ion-android-delete text-white"></i>
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#file-upload").change(function () {
            console.log('aa')
            document.getElementById("uploadFile").submit();
        });

 });
</script>