@{
    ViewData["Title"] = "Distribution Channels";
    Html.RenderPartial("_ConfirmModal");
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<h3>
    @ViewData["Title"]
    <a href="DistributionChannels_Edit" class="add-click"><i class="ion-ios-plus text-danger"></i></a>

</h3>

<hr />
<div style="padding-bottom:40px;">
    <div class="btn-group submitter-group float-right" style=" align-items: center">
        <div class="input-group-prepend" style="width: 70px;">
            <label>Active: </label>
        </div>
        <select class="form-control status-dropdown">
            <option value="">All</option>
            <option value=true>Y</option>
            <option value="false">N</option>
        </select>
    </div>
</div>

<div class="container-xl">
    <table id="tableData" class="display" width="100%"></table>
</div>


<script type="text/javascript">


    $(document).ready(function () {

        var dataTable=  $('#tableData').DataTable({
            "ajax": {
                type: "POST",
                url: '@Url.Action("GetChannelList", "MasterData")',
                contentType: "application/json; charset=utf-8",
                dataSrc: function (result) {
                    return result.data;
                }
            },
            "columns": [
                { data: "distributionChannelID", visible: false, searchable: false },
                { data: "distributionChannelName", title: "Distribution Channel Name", width: "70%" },
                { data: "active", title: "active", visible: false },
                {
                    data: "active",
                    title: "Active",
                    render: function (data, type, row) {
                        var checkStatus = data ? "checked" : "";
                        return '<input type="checkbox" id="checkbox1" name="options[]" value="true" disabled ' + checkStatus + '>';
                    }, width: "10%",
                    className: "text-center",
                    visible: true,
                    searchable: true,
                    orderable: false,
                },
                {
                    orderable: false,
                    title: "Action",
                    width: "20%",
                    className: "text-center",
                    render: function (data, type, row) {
                        return '<a href="DistributionChannels_View?channelID=' + row.distributionChannelID + '" class="buttonIcon btn btn-primary btn-sm"><i class="ion-eye text-white" ></i></a>' +
                            '<a href="DistributionChannels_Edit?channelID=' + row.distributionChannelID + '" class="buttonIcon btn btn-warning btn-sm"><i class="ion-edit text-white"></i></a>';
                            /*'<a href="#confirmModal" data-id="' + row.brandSegmentID +'" class="delete-click buttonIcon btn btn-danger btn-sm" data-toggle="modal"><i class="ion-android-delete text-white"></i></a>';*/
                }}
            ]
        });

        $('.status-dropdown').on('change', function (e) {
            var status = $(this).val();
            $('.status-dropdown').val(status);
            dataTable.column(2).search(status).draw();
        });

    });



</script>