@{
    ViewData["Title"] = "Add Distribution Channels";
}


<h2>@ViewData["Title"]</h2>
<hr />

<br />

<form>
    <div class="col-md-12 col-sm-12">
        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Name	</label>
            <input type="text" class="form-control input-sm" id="name" placeholder="">
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
 
        <div class="form-group col-md-5 col-sm-5">
            <label for="pincode">
                <input type="checkbox" checked data-toggle="toggle">
                Active
            </label>
        </div>
    </div>

    <div class="modal-footer">
        <a href="DistributionChannels" class="btn btn-danger">Add</a>
        <a href="DistributionChannels" class="btn btn-outline-danger">Cancel</a>

    </div>
</form>