<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 style="color: #5e9ca0;">ยินดีต้อนรับ</h1>
    <h3 style="color: blue;">รหัสผ่านสำหรับเข้าใช้งานของคุณคือ</h3>
    <h4>TXTPASSWORD</h4>
    <h4>กรุณากดปุ่มยืนยันอีเมลล์เพื่อใช้งาน</h4>
    <p>&nbsp;</p>
    <p><a href="linkRegister"><span style="background-color: #ff0000; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">ยืนยันอีเมลล์</span></a></p>

</body>
</html>