@{
    Layout = null;
    //Html.RenderPartial("_WarningModal");
    Html.RenderPartial("_SuccessModal");
    Html.RenderPartial("_FailedModal");
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Market</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
    <link rel="stylesheet" href="~/css/Filter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/Login-Form-Dark.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        #blocker {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
            background-color: #000;
            z-index: 1000;
            overflow: auto;
        }

            #blocker div {
                position: absolute;
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                border-top: 16px solid #3498db;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }

        /* Safari */
        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div id="blocker">
        <div></div>
    </div>
    <section class="login-dark">
        <form>

            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-email-outline text-danger"></i></div>
            <div class="mb-3"><input class="form-control text-danger" type="email" name="email" placeholder="Email" id="email"></div>
            <div class="mb-3"><button class="btn d-block w-100 btn-danger" type="button" id="btnReset">Send email</button></div>
            <a class="forgot " asp-area="" asp-controller="Home" asp-action="Login">Log In</a>

        </form>
    </section>
</body>

</html>


<script type="text/javascript">

    $(document).ready(function () {

        $("#btnReset").click(function () {
            if ($("#email").val() != "") {
              
            $("#blocker").show();
             var model = @Html.Raw(Json.Serialize(Model));
               $.ajax({
                   type: "GET",
                    url: '@Url.Action("ResetPassword", "Users")',
                    contentType: "application/json; charset=utf-8",
                   data: {
                       email: $("#email").val()
                   },
               success: function (data) {
                   $("#blocker").hide();
                   if (data.isSuccess) {
                       $('#successModalHref').attr("href", "Login");
                       $('#successModal').modal('show');
                       $('#txtResult').text("");
                   } else {
                       $('#failedModal').modal('show');
                       $('#myModalFailedResult').text(data.responseError != ""
                           && data.responseError != null ? data.responseError : 'Reset email failed');
                   }
                   $('#confirmID').val('');
                   $('#myModalFailedResult').val('');
                    },
                   error: function () {
                       $("#blocker").hide();
                    }
                });
            }

        })


    });
</script>