@{
    Layout = null;
    //Html.RenderPartial("_WarningModal");
    //Html.RenderPartial("_SuccessModal");
    //Html.RenderPartial("_FailedModal");
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Market</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">*@
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
    <link rel="stylesheet" href="~/css/Filter.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">*@
    <link rel="stylesheet" href="~/css/Login-Form-Dark.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">

    <style>
        #blocker {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
            background-color: #000;
            z-index: 1000;
            overflow: auto;
        }

            #blocker div {
                position: absolute;
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                border-top: 16px solid #3498db;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }

        /* Safari */
        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        body {
            font-family: 'Varela Round', sans-serif;
        }

        #successModal .modal-confirm {
            color: #636363;
            width: 325px;
            font-size: 14px;
        }

            #successModal .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
            }

            #successModal .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            #successModal .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -15px;
            }

            #successModal .modal-confirm .form-control, #successModal .modal-confirm .btn {
                min-height: 40px;
                border-radius: 3px;
            }

            #successModal .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -5px;
            }

            #successModal .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
            }

            #successModal .modal-confirm .icon-box {
                color: #fff;
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -70px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #82ce34;
                padding: 15px;
                text-align: center;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }

                #successModal .modal-confirm .icon-box i {
                    font-size: 58px;
                    position: relative;
                    top: -8px;
                }

            #successModal .modal-confirm.modal-dialog {
                margin-top: 80px;
            }

            #successModal .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #82ce34;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border: none;
            }

                #successModal .modal-confirm .btn:hover, .modal-confirm .btn:focus {
                    background: #6fb32b;
                    outline: none;
                }

        #successModal .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }

        #failedModal .modal-confirm {
            color: #636363;
            width: 325px;
            font-size: 14px;
        }

            #failedModal .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
            }

            #failedModal .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            #failedModal .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -15px;
            }

            #failedModal .modal-confirm .form-control, #failedModal .modal-confirm .btn {
                min-height: 40px;
                border-radius: 3px;
            }

            #failedModal .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -5px;
            }

            #failedModal .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
            }

            #failedModal .modal-confirm .icon-box {
                color: #fff;
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -70px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #dc3545;
                padding: 15px;
                text-align: center;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }

                #failedModal .modal-confirm .icon-box i {
                    font-size: 58px;
                    position: relative;
                    top: -8px;
                }

            #failedModal .modal-confirm.modal-dialog {
                margin-top: 80px;
            }

            #failedModal .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #dc3545;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border: none;
            }

                #failedModal .modal-confirm .btn:hover, #failedModal .modal-confirm .btn:focus {
                    background: #dc3545;
                    outline: none;
                }

        #failedModal .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
</head>

<body>
    <div id="blocker">
        <div></div>
    </div>
    <section class="login-dark">
        <form>

            <h2 class="visually-hidden">Forgot Password Form</h2>
            <div class="illustration"><i class="icon ion-ios-email-outline text-danger"></i></div>
            <div class="mb-3"><input class="form-control text-danger" type="email" name="email" placeholder="Email" id="email"></div>
            <div class="mb-3"><button class="btn d-block w-100 btn-danger" type="button" id="btnReset">Send email</button></div>
            <a class="forgot " asp-area="" asp-controller="Home" asp-action="Login">Log In</a>

        </form>
    </section>
    <div id="successModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="ion-checkmark text-white"></i>
                    </div>
                    <h4 class="modal-title w-100">Success!</h4>
                </div>
                <div class="modal-body">
                    <p id="txtResult" class="text-center">Data has been saved successfully.</p>
                </div>
                <div class="modal-footer">
                    <a id="successModalHref" href="#" class="btn btn-success btn-block btnSuccessModal" style="padding-top: 12px;">OK</a>
                </div>
            </div>
        </div>
    </div>

    <div id="failedModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="ion-close text-white"></i>
                    </div>
                    <h4 class="modal-title w-100">Failed!</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="confirmID">
                    <p class="text-center" style="font-weight:bold" id="myModalFailedResult"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-block " data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</body>

</html>


<script type="text/javascript">

    $(document).ready(function () {

        $("#btnReset").click(function () {
            if ($("#email").val() != "") {
              
            $("#blocker").show();
             var model = @Html.Raw(Json.Serialize(Model));
               $.ajax({
                   type: "GET",
                    url: '@Url.Action("ResetPassword", "Users")',
                    contentType: "application/json; charset=utf-8",
                   data: {
                       email: $("#email").val()
                   },
               success: function (data) {
                   $("#blocker").hide();
                   if (data.isSuccess) {
                       $('#successModalHref').attr("href", "Login");
                       $('#successModal').modal('show');
                       $('#txtResult').text("");
                   } else {
                       $('#failedModal').modal('show');
                       $('#myModalFailedResult').text(data.responseError != ""
                           && data.responseError != null ? data.responseError : 'Forgot password failed');
                   }
                   $('#confirmID').val('');
                   $('#myModalFailedResult').val('');
                    },
                   error: function () {
                       $("#blocker").hide();
                    }
                });
            }

        })


    });
</script>