@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
</script>
