@{
    ViewData["Title"] = "บันทึกข้อมูลยอดขาย";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="parentDivClass">
    <div id="profile">
        <div class="nav">

            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("KeyinByStore", "KeyIn")'"><small><b>บันทึกข้อมูลยอดขายรายร้านค้า</b></small></div>
            <div style="cursor:pointer" class="li" onclick="location.href='@Url.Action("KeyinByBrand", "KeyIn")'"><small><b>บันทึกข้อมูลยอดขายรายแบรนด์</b></small></div>
    </div>
    </div>
    <div>

    </div>
 


</div>


        