@{
    ViewData["Title"] = "Raw Data";
}

<style>
    .row-filter {
        padding-top: 20px;
    }
</style>
<h2>
    @ViewData["Title"]

</h2>
<hr />
<br />
<br />
<div class="row">
    <div class="table-filter" style="width: 100%; font-size: 13px;">

        <div class="row">
            <div class="col-sm-2 d-flex align-items-md-start" style="padding-left: 30px;">
                <div class="form-group mb-3">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Rank<br></label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Select Store<br></label></div>
                </div>
            </div>
            <div class="col flex-wrap align-items-md-start" style="padding:0px;">
                <div class="row d-flex">
                    <div class="col d-flex flex-wrap">
                        <div class="col-md-4">
                            <label><b>Start <i class="ion-clock"></i></b>  Week</label>
                            <select class="form-control col-sm-12 col-lg-4">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Month</label>
                            <select class="form-control col-sm-12 col-lg-8">
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Year</label>
                            <select class="form-control col-sm-12 col-lg-6">
                                <option>2019</option>
                                <option>2020</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row d-flex" style="padding-top: 10px;">
                    <div class="col d-flex flex-wrap">
                        <div class="col-md-4">
                            <label><b>End &nbsp; <i class="ion-clock"></i></b>  Week</label>
                            <select class="form-control col-sm-12 col-lg-4">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Month</label>
                            <select class="form-control col-sm-12 col-lg-8">
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Year</label>
                            <select class="form-control col-sm-12 col-lg-6">
                                <option>2019</option>
                                <option>2020</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 d-flex align-items-md-start" style="padding:0px;">
                <label class="form-label d-md-flex align-items-md-start">Compare with year</label>
                <div class="form-group mb-3">
                    <select class="form-control" style="width:100px;height:40px">
                        <option>2019</option>
                        <option>2020</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="w-100">
            <div style="padding-top:20px;">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <header>
                                <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Central</label></div>
                            </header>
                        </div>
                        <div class="d-flex flex-row flex-wrap justify-content-md-start">
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Central Bangna</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Central Festival Chiangmai</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Central Chidlom</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Central Eastville</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6">Central Rama II</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">Central Rama III</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8">Central Phuket</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label" for="formCheck-9">Central Westgate</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label" for="formCheck-10">Central Ladprao</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-11"><label class="form-check-label" for="formCheck-11">Central Samui</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top:20px;">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <header>
                                <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-12"><label class="form-check-label" for="formCheck-12">The Mall</label></div>
                            </header>
                        </div>
                        <div class="d-flex flex-row flex-wrap justify-content-md-start">
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-13"><label class="form-check-label" for="formCheck-13">Siam Paragon</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-14"><label class="form-check-label" for="formCheck-14">The Mall Bangkae</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-15"><label class="form-check-label" for="formCheck-15">The Mall Bangkapi</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-16"><label class="form-check-label" for="formCheck-16">The Mall Blueport</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-17"><label class="form-check-label" for="formCheck-17">The Mall Emporium</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-18"><label class="form-check-label" for="formCheck-18">The Mall Emquartier</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-19"><label class="form-check-label" for="formCheck-19">The Mall Korat</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-20"><label class="form-check-label" for="formCheck-20">The Mall Ngam Wong Wan</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-21"><label class="form-check-label" for="formCheck-21">The Mall Ramkamhang</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-22"><label class="form-check-label" for="formCheck-22">The Mall Thonburi</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top:20px;">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <header>
                                <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-23"><label class="form-check-label" for="formCheck-23">Robinson</label></div>
                            </header>
                        </div>
                        <div class="d-flex flex-row flex-wrap justify-content-md-start">
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-24"><label class="form-check-label" for="formCheck-24">Robinson Ayudhaya</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-25"><label class="form-check-label" for="formCheck-25">Robinson Bangrak</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-26"><label class="form-check-label" for="formCheck-26">Robinson Chantaburi</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-27"><label class="form-check-label" for="formCheck-27">Robinson Chiangmai</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-28"><label class="form-check-label" for="formCheck-28">Robinson Chiangrai</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-29"><label class="form-check-label" for="formCheck-29">Robinson Chonburi</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-30"><label class="form-check-label" for="formCheck-30">Robinson Fasion Island</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-31"><label class="form-check-label" for="formCheck-31">Robinson Hadyai</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-32"><label class="form-check-label" for="formCheck-32">Robinson Mahachai</label></div>
                            <div class="form-check" style="width: 25%;"><input class="form-check-input" type="checkbox" id="formCheck-33"><label class="form-check-label" for="formCheck-33">Robinson Phuket</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-filter" style="width: 100%; font-size: 13px;">


            <div class="row row-filter" style=" justify-content: center;">


                <div class="filter-group">
                    <div class="custom-file-upload">

                        <label for="file-upload" class="custom-file-upload1">
                            <i class="ion-android-document"></i> Export to Excel
                        </label>
                        <input id="file-upload" type="file" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xl">
    <img src="~/img/StoreMarketShareZone.PNG" style="width:100%" />
</div>
