@{
    ViewData["Title"] = "Store market share & growth (zone)";
}

<style>
    .row-filter {
        padding-top: 20px;
    }
</style>
<h3>
    @ViewData["Title"]

</h3>
<hr />
<br />
<br />
<div class="row">
    <div class="table-filter" style="width: 100%; font-size: 13px;">
        <div class="row">
            <div class="col-sm-2 d-flex align-items-md-start" style="padding-left: 30px;">
                <div class="form-group mb-3">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="checkRank"><label class="form-check-label">Rank<br></label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="checkSelectStore"><label class="form-check-label">Select Store<br></label></div>
                    <br />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="top" value="5"><label class="form-check-label">Top 5<br></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="top" value="10"><label class="form-check-label">Top 10<br></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="top" value="15"><label class="form-check-label">Top 15<br></label>
                    </div>
                </div>
            </div>
            <div class="col flex-wrap align-items-md-start" style="padding:0px;">
                <div class="row d-flex">
                    <div class="col d-flex flex-wrap">
                        <div class="col-md-4">
                            <label><b>Start <i class="ion-clock"></i></b>  Week</label>
                            <select class="form-control col-sm-12 col-lg-4" id="ddlWeekStart">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Month</label>
                            <select class="form-control col-sm-12 col-lg-8" id="ddlMonthStart">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Year</label>
                            <select class="form-control col-sm-12 col-lg-6">
                                <option>2019</option>
                                <option>2020</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row d-flex" style="padding-top: 10px;display:none!important" id="divYearEnd">
                    <div class="col d-flex flex-wrap">
                        <div class="col-md-4">
                            <label><b>End &nbsp; <i class="ion-clock"></i></b>  Week</label>
                            <select class="form-control col-sm-12 col-lg-4" id="ddlWeekEnd">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Month</label>
                            <select class="form-control col-sm-12 col-lg-8" id="ddlMonthEnd">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Year</label>
                            <select class="form-control col-sm-12 col-lg-6">
                                <option>2019</option>
                                <option>2020</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-3 d-flex flex-wrap align-items-md-start" style="padding:0px;">
                <label class="form-label d-md-flex align-items-md-start">Compare with year</label>
                <div class="form-group mb-3">
                    <select class="form-control" style="width:100px;" id="ddlCompareYear">
                        <option>2019</option>
                        <option>2020</option>
                    </select>
                </div>
            </div>
        </div>



        <div class="w-100" id="divSelectStore" style="display:none!important">

        </div>
        <div class="w-100 text-center" style="display:flex;justify-content:center">
            <div >

            </div>
        </div>

        <div class="w-100 text-center" style="display:flex;justify-content:center">
                <div class="filter-group">
                    <button type="button" class="btn btn-outline-primary"><i class="ion-search"></i> Preview</button>
                </div>
                <div class="filter-group">
                    <div class="custom-file-upload">

                        <label for="file-upload" class="custom-file-upload1">
                            <i class="ion-android-document"></i> Export to Excel
                        </label>
                        <input id="file-upload" type="file" />
                    </div>

                </div>
            </div>
        <div class="container-xl">
                <img src="~/img/StoreMarketShareZone.PNG" style="width:100%" />
        </div>
    </div>
</div>
            <script type="text/javascript">


    $(document).ready(function () {

        getDepartmentStore();
        $("#checkRank").on('click', function (e) {
            if ($("#checkRank:checked").is(":checked")) {
                $("#divYearEnd").attr('style', 'display:block !important');
            } else {
                $("#divYearEnd").attr('style', 'display:none !important');
            }


        });
        $("#checkSelectStore").on('click', function (e) {
            if ($("#checkSelectStore:checked").is(":checked")) {
                $("#divSelectStore").attr('style', 'display:block !important');

            } else {
                $("#divSelectStore").attr('style', 'display:none !important');
            }

        });

        function getDepartmentStore(){
              $.ajax(
                {
                    url: '@Url.Action("GetDepartmentStoreList", "MasterData")',
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                      success: function (data) {
                          console.log(data.data)
                          if (data.data.length > 0) {
                              var group = "";
                              var groupId = 0;
                              var htmlStoreinside = "";
                              var html = "";

                              for (var i = 0; i < data.data.length-1; i++) {
                                  if (group != data.data[i].retailerGroupName) {
                                      html = html.replace("storeinside", htmlStoreinside);
                                      htmlStoreinside = "";
                                      groupId += 1;
                                      group = data.data[i].retailerGroupName;
                                      html += "<div style='padding-top: 20px;'>";
                                      html += "<div class='card'>";
                                      html += "<div class='card-body'>";
                                      html += " <div>";
                                      html += "     <header>";
                                      html += "         <div class='form-check' style='width: 25%;'><input class='form-check-input' type='checkbox' id='store-" + groupId + "'><label class='form-check-label' >" + data.data[i].retailerGroupName + "</label></div>";
                                      html += "     </header>";
                                      html += " </div>";
                                      html += "<div class='d-flex flex-row flex-wrap justify-content-md-start'>";
                                      html += "     <div class='form-check' style='width: 25%;' > <input class='form-check-input' type='checkbox' id='formCheck-" + i + "' ><label class='form-check-label' >" + data.data[i].departmentStoreName + "</label></div>";
                                      html += " storeinside";
                                      html += "  </div> </div > </div > </div > ";

                                  }

                                  if (group == data.data[i].retailerGroupName) {
                                      htmlStoreinside += "     <div class='form-check' style='width: 25%;' > <input class='form-check-input' type='checkbox' id='formCheck-" + i + "' ><label class='form-check-label' >" + data.data[i].departmentStoreName + "</label></div>";
                                  }

                              }
                              $("#divSelectStore").append(html.replace("storeinside",""));
                          }

                    },
                     error: function () {
                    }
                }
            );
        }
    });
            </script>
